{% extends 'base.html'%} {% block content %}
<div class="container-fluid home-page">
    <div class="row justify-content-center home-buttons">
    <div class="col-12 text-center">
        <h2>Welcome {{ username }}!</h2>
    </div>
    <div class="col-md-5 text-center home-option">
        <img class="img-fluid rounded-circle" src="static/images/laughing-guy.jpg" alt="">
        <a href="{{url_for('create')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Create A Mad Lib</a>
    </div>
    <div class="col-md-5 text-center home-option">
        <img class="img-fluid rounded-circle" src="static/images/laughing-woman.jpg" alt="">
        <a href="{{url_for('display_all')}}" class="btn btn-primary btn-xl rounded-pill mt-5">View All Mad Libz</a>
       </div>
  </div>
</div>

{% endblock %}