{% extends 'base.html'%}{% block title %}Insert Words{% endblock %} {% block content %}

<div class="container-fluid user-input-page">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Input Words</h5>
                    <form class="form-signin" action="{{ url_for('push_data', template_id=mad_lib._id) }}" method="POST">
                        {% for descriptor in mad_lib.descriptors %}
                        <input type="text" name="{{ loop.index }}" class="form-control word-input" placeholder="Type in {{ descriptor }}" required> {% endfor %}
                </div>
                <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="submit">Generate Mad Lib</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}