{% extends 'base.html'%} {% block content %}
<div class="container-fluid page-bg">
<div class="row justify-content-center page-options">
{% for user_input in user_inputs %}
  <div class="col-sm-6">
    <div class="card result-card">
      <div class="card-body">
        <h5 class="card-title">{{ user_input.title }}</h5>
        <p class="card-text">{{ user_input.mad_lib }}</p>
        {% if session['user-id'] == user_input['creatorID'] %}
        <a href="{{ url_for('delete', mad_lib_id=user_input._id) }}">Delete</a>
        <a href="{{ url_for('edit', mad_lib_id=user_input._id) }}">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}