{% extends 'base.html'%} {% block content %}
 <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Mad Libz</h1>
        <h2 class="masthead-subheading mb-0">Randomness in Stories</h2>
        <a href="{{url_for('login')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Login</a>
        <a href="{{url_for('register')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Register</a>
      </div>
    </div>
  </header>
{% endblock %}