{% extends 'base.html'%} {% block content %}
    <form class="form-container" method="POST" action="{{url_for('register')}}">

    <input type="text" name="userid" class="form-control" id="inputUsername" placeholder="Username" required autofocus>

    <label for="inputPassword">Password</label>
    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>

    <button class="btn btn-lg btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign up</button>

    </form>
{% endblock %}